*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:rgb(244, 244, 244);
}
.bg-image{
    color: rgb(0, 175, 185) !important; 
}
nav a{
    font-size: 20px !important;
    color: #17c6cf !important; 
    text-shadow: 1px 1px 1px black;
}

.custom{
    height: 60px;
}
.h1-home{
    font-size: 12vw;
    text-shadow: 3px 3px 3px black;
}

.h1-viste{
    font-size: 4vw;
    text-shadow: 3px 3px 3px black;
}
.h2-home{
    font-size: 3vw;
    text-shadow: 3px 3px 3px black;
}
.h2-home-mus{
    font-size: 3vw;
    text-shadow: 1px 1px 1px black;
}

.sottotitoli{
    font-size: 4vw;
    text-shadow: 1px 1px 1px black;
    font-weight: 500;
}
/* swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-custom1{
    background-image: url(/public/img/guardaroba.jpg);
    background-size: cover;
    background-position: center;
  }

  .img-custom2{
    background-image: url(/public/img/tiziopesi.jpg);
    background-size: cover;
    background-position: center;
  }

  .img-custom3{
    background-image: url(/public/img/musica.jpg);
    background-size: cover;
    background-position: center;
  }

  .img-custom4{
    background-image: url(/public/img/lavoraconnoi.jpg);
    background-size: cover;
    background-position: center;
  }

  /* h1 */
  .transition{
    opacity: 0;
    /* transform: translateX(-300px); */
    /* appare dall'alto */
    /* transform: translateY(-300px); */
    /* appare dal nulla */
    transform: scale(0.5);
    transition: all 1.2s ease;
}

.transition.in-page{
    opacity: 1;
    /* transform: scale(1); */
    /* transform: translateY(0px); */
    transform: translateX(0px);
}

.swiper-button{
    background-color: var(--col-vinted-custom);
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
    display: block;
    text-align: center;
}

.swiper-button:hover{
    transition: background-color .3s ease;
    background-color: var(--col-vinted);
}

.swiper-button i{
    padding-right: 10px;
}


  /* end swiper */


/* card-transition */

.transition-card{
    opacity: 0;
    /* transform: translateX(-300px); */
    /* appare dall'alto */
    transform: translateY(-200px);
    /* appare dal nulla */
    /* transform: scale(0.5); */
    transition: all 1.2s ease;
}

.transition-card.in-page{
    opacity: 1;
    /* transform: scale(1); */
    /* transform: translateY(0px); */
    transform: translateX(0px);
}

/* card-transition end*/



:root{
    --col-vinted-custom: #00afb9;
    --col-vinted_custom2: #17c6cf;
    --col-vinted: #007782;
    --col-start: #df4adf;
    --col-start2: #c03cc0;
    --col-start3: #520852;
    --col-start-card: hsl(158, 36%, 37%);
    --col-start-card2: hsl(158, 36%, 23%);

}

/* Category empity */
.bg-category-empity{
    background-image: url(/public/img/sfondoCategory.jpg);
    background-position: center;
    background-size: cover;
}
/* Category empity end */

/* navbar */
.bg-nav{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
}

.dropd-item:hover{
    background-color: #00afb9 !important;
    color: white !important;
}

.bg-notification{
    background-color: #00afb9 !important;
}

.btn-searchbar{
    background-color: #00afb9 !important;
    color: white;
    font-weight:500;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #00afb9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #00afb940;
}
/* navbar end */

/* Start register-login --------------------------------------------------------------------------------------------------- */
.bg-custom-rl{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 50px;
    /* background: #444; */
}
.container-custom{
    width: 70vw;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.signin-signup{
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0 3rem;
}
.signup{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.signin{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 238px;
}
.title {
    font-size: 35px;
    color: var(--col-vinted-custom);
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid var(--col-vinted-custom);
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.btn-rl {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--col-vinted-custom);
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
}
.btn-rl:hover {
    background: var(--col-vinted_custom2);
    color: #fff;
}
.social-text {
    margin: 10px 0;
    font-size: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
a {
    text-decoration: none;
}
.social-icon:hover {
    color: var(--col-vinted-custom);
    border-color: var(--col-vinted-custom);
}
.panels-container{
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, var(--col-vinted-custom), var(--col-vinted));
    padding: 0 3rem;
}
.panels-r{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.panels-l{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
}
.image {
    width: 100%;
    height: 35vh;
    margin-top: 30px;
}
/* End register-login ----------------------------------------------------------------------------------------------------- */

/* Start ultimi sei annunci ----------------------------------------------------------------------------------------------- */
.container-card{
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 100%;
}
.img{
    position: relative;
}
.auth-content{
    position: absolute;
    background-color: white;
    bottom: -18px;
    padding: 16px 35px 0 35px;
    border-top-right-radius: 10px;
    color: var(--col-vinted-custom);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
   
}
.auth-content p{
    margin: 0;
}
.img img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-content{
    padding: 35px;
    background-color: white;
}
.pro-cat-content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}
.evidenziatore{
    width: 0%;
    margin: auto;
    transform: translateY(0.5px);
    height: 1px;
    background-color: var(--col-vinted);
    transition: all 0.3s ease-in-out;
}
.link-category-content:hover .evidenziatore{
    width: 100%;
}

.pro-cat{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin: 0;
}
a.pro-cat:hover{
    color: var(--col-vinted);
}

h2.pro-name{
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}
.des-content{
    height: 104.5px;
    display: flex;
    align-items: center;
}
p.pro-des{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}

.price{
    display: flex;
    align-items: center;
}

p.current-price{
    color: var(--col-vinted-custom);
    font-size: 25px;
    padding-right: 25px;
}

a.cta{
    background-color: var(--col-vinted-custom);
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
    display: block;
    text-align: center;
}

a.cta:hover{
    background-color: var(--col-vinted);
}

a.cta i{
    padding-right: 10px;
}

/* @media only screen and (max-width: 628px){   //NON CANCELLARE !!!
    .grid{
        grid-template-columns: 1fr;
    }
    .img img{
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
    .card-content{
        display: block;
    }
    h6.pro-cat, h2.pro-name, p.pro-des, .price{
        padding-bottom: 23px;
    }
}

@media only screen and (max-width: 375px){
    .container{
        margin: 15px auto;
        padding: 0 15px;
    }
    .img img{
        max-height: 290px;
    }
    .card-content{
        padding: 24px;
    }
    h6.pro-cat, h2.pro-name, p.pro-des, .price{
        padding-bottom: 16px;
    }
    h2.pro-name{
        font-size: 28px;
    }
    p.pro-des{
        font-size: 12px;
    }
    p.current-price{
        font-size: 23px;
    }
    button.cta{
        padding: 12px 0;
        font-size: 13px;
    }
} */
/* End ultimi sei annunci ----------------------------------------------------------------------------------------------- */




/* Start FOOTER ----------------------------------------------------------------------------------------------------------- */
.logo-footer {
    height: 40px;
    width:150px;
}

.linkedin-custom{
    color: #00afb9;
}

.a-footer{
    font-size: 20px;
    color: #000000;
}

.a-footer:hover{
    border-bottom:1px solid #00afb9;
}

.separate{
    border: 1px solid rgba(0, 176, 185, 0.5);
    width: 100%;
    box-shadow: 1px 1px 1px rgb(171, 171, 171);
}

.bg-footer{
    background-color: rgb(233, 233, 233);
}
/* End FOOTER ------------------------------------------------------------------------------------------------------------- */
