*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:rgb(245, 245, 245);
}
.bg-image{
    color: rgb(0, 175, 185) !important; 
}
nav a{
    font-size: 20px !important;
    color: #17c6cf !important; 
    text-shadow: 1px 1px 1px black;
}

.custom{
    height: 60px;
}
.h1-home{
    font-size: 12vw;
    text-shadow: 3px 3px 3px black;
}

.h1-viste{
    font-size: 4vw;
    text-shadow: 3px 3px 3px black;
}
.h2-home{
    font-size: 3vw;
    text-shadow: 3px 3px 3px black;
}
.h2-home-mus{
    font-size: 3vw;
    text-shadow: 1px 1px 1px black;
}

.sottotitoli{
    font-size: 4vw;
    text-shadow: 1px 1px 1px black;
    font-weight: 500;
}
/* START swiper header home ----------------------------------------------------------------------------------------------- */
.swiper-home .swiper {
    width: 100%;
    height: 100%;
}

.swiper-home .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-home .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.swiper-home .img-custom1{
    background-image: url(/public/img/guardaroba.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-home .img-custom2{
    background-image: url(/public/img/tiziopesi.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-home .img-custom3{
    background-image: url(/public/img/musica.jpg);
    background-size: cover;
    background-position: center;
}

.swiper-home .img-custom4{
    background-image: url(/public/img/lavoraconnoi.jpg);
    background-size: cover;
    background-position: center;
}

  /* h1 */
  .transition{
    opacity: 0;
    /* transform: translateX(-300px); */
    /* appare dall'alto */
    /* transform: translateY(-300px); */
    /* appare dal nulla */
    transform: scale(0.5);
    transition: all 1.2s ease;
}

.transition.in-page{
    opacity: 1;
    /* transform: scale(1); */
    /* transform: translateY(0px); */
    transform: translateX(0px);
}

.swiper-home .swiper-button{
    background-color: var(--col-vinted-custom);
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
    display: block;
    text-align: center;
}

.swiper-home .swiper-button:hover{
    transition: background-color .3s ease;
    background-color: var(--col-vinted);
}

.swiper-home .swiper-button i{
    padding-right: 10px;
}
/* END swiper header home ------------------------------------------------------------------------------------------------- */

/* card-transition */

.transition-card{
    opacity: 0;
    /* transform: translateX(-300px); */
    /* appare dall'alto */
    transform: translateY(-200px);
    /* appare dal nulla */
    /* transform: scale(0.5); */
    transition: all 1.2s ease;
}

.transition-card.in-page{
    opacity: 1;
    /* transform: scale(1); */
    /* transform: translateY(0px); */
    transform: translateX(0px);
}

/* card-transition end*/



:root{
    --col-vinted-custom: #00afb9;
    --col-vinted_custom2: #17c6cf;
    --col-vinted: #007782;
    --col-start: #df4adf;
    --col-start2: #c03cc0;
    --col-start3: #520852;
    --col-start-card: hsl(158, 36%, 37%);
    --col-start-card2: hsl(158, 36%, 23%);
}

/* Category empity */
.bg-category-empity{
    background-image: url(/public/img/sfondoCategory.jpg);
    background-position: center;
    background-size: cover;
}
/* Category empity end */

/* navbar */
.bg-nav{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
}

.dropd-item:hover{
    background-color: #00afb9 !important;
    color: white !important;
}

.bg-notification{
    background-color: #00afb9 !important;
}

.btn-searchbar{
    background-color: #00afb9 !important;
    color: white;
    font-weight:500;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #00afb9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #00afb940;
}
/* navbar end */

/* Start register-login --------------------------------------------------------------------------------------------------- */
.bg-custom-rl{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 50px;
    /* background: #444; */
}
.container-custom{
    width: 70vw;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.signin-signup{
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0 3rem;
}
.signup{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.signin{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 238px;
}
.title {
    font-size: 35px;
    color: var(--col-vinted-custom);
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid var(--col-vinted-custom);
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.btn-rl {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--col-vinted-custom);
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
}
.btn-rl:hover {
    background: var(--col-vinted_custom2);
    color: #fff;
}
.social-text {
    margin: 10px 0;
    font-size: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
a {
    text-decoration: none;
}
.social-icon:hover {
    color: var(--col-vinted-custom);
    border-color: var(--col-vinted-custom);
}
.panels-container{
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, var(--col-vinted-custom), var(--col-vinted));
    padding: 0 3rem;
}
.panels-r{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.panels-l{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
}
.image {
    width: 100%;
    height: 35vh;
    margin-top: 30px;
}
/* End register-login ----------------------------------------------------------------------------------------------------- */

/* Start ultimi sei annunci ----------------------------------------------------------------------------------------------- */
.container-card{
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 100%;
    background-color: white;
}

.img{
    position: relative;
}
.auth-content{
    position: absolute;
    background-color: white;
    bottom: -18px;
    padding: 16px 35px 0 35px;
    border-top-right-radius: 10px;
    color: var(--col-vinted-custom);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}
.auth-content p{
    margin: 0;
}
.img img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-content{
    padding: 35px;
    background-color: white;
}
.pro-cat-content{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.evidenziatore{
    width: 0%;
    margin: auto;
    transform: translateY(0.5px);
    height: 1px;
    background-color: var(--col-vinted);
    transition: all 0.3s ease-in-out;
}
.link-category-content{
    margin-bottom: 8px;
}
.link-category-content:hover .evidenziatore{
    width: 100%;
}

.pro-cat{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    margin: 0;
    margin-bottom: 8px;
}
a.pro-cat:hover{
    color: var(--col-vinted);
}

h2.pro-name{
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
    height: 68px;
    display: flex;
    align-items: center;
    word-break: break-all;
}
.des-content{
    display: flex;
    align-items: center;
    height: 102.4px;
    word-break: break-all;
}
p.pro-des{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}

.price{
    display: flex;
    align-items: center;
}

p.current-price{
    color: var(--col-vinted-custom);
    font-size: 25px;
    padding-right: 25px;
}

a.cta{
    background-color: var(--col-vinted-custom);
    padding: 14px 0;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 100%;
    display: block;
    text-align: center;
}

a.cta:hover{
    background-color: var(--col-vinted);
}

a.cta i{
    padding-right: 10px;
}

@media only screen and (max-width: 768px){  
    .des-content, .pro-name{
        height: auto;
    }
    .pro-name{
        font-size: 28px;
    }
}
@media only screen and (max-width: 576px){  
    .pro-cat-content{
        flex-direction: column;
    }
}
/* End ultimi sei annunci ------------------------------------------------------------------------------------------------- */

/* Start dettaglio -------------------------------------------------------------------------------------------------------- */
.swiperMain{
    --swiper-navigation-color: #fff;
    --swiper-pagination-color: #fff;
    --swiper-navigation-size: 30px;
}
.swiperThumbs{
    background-color: #dddddd;
    margin-top: 10px;
}
.content-show{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 15px;
    background-color: #dddddd;
}
.swiperContent{
    background-color: #dddddd;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0 10px 0 0;
    overflow: hidden;
}
.card-container-show{
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0;
    overflow: hidden;
}
.auth-content-show{
    color: var(--col-vinted-custom);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}
.auth-content-show p{
    margin-bottom: 10px;
}

.card-content-show{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-content-show-p{
    padding: 35px 35px 15px 35px;
}
.pro-name-show{
    font-size: 34px;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
    word-wrap: break-word;
    margin-bottom: 15px;
}

.pro-des-show{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
    width: 100%;
    
    height: 100%;
    resize: none;
    border: none;
    overflow: auto;
    padding-right: 15px;
    outline: none; 
    margin-bottom: 15px;
}
.pro-des-show::-webkit-scrollbar{
    background-color: #dddddd;  
    border-radius: 10px;
    width: 5px;    
  }
.pro-des-show::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--col-vinted-custom);
}

.swiper-slide img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.swiper-button-next, .swiper-button-prev{
   border-radius: 50%;
   width: 50px !important;
   height: 50px !important;
   transition: 0.3s;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
   background-color: rgba(0, 0, 0, 0.5);
}
.swiper-button-next::after{
    transform: translate(3px, 0.5px);
}
.swiper-button-prev::after{
    transform: translate(-3px, 0.5px);
}
.swiperThumbs .swiper-slide:hover{
    opacity: 0.6;
}
.swiperThumbs .swiper-slide{
    cursor: pointer;
}

.content-choose{
    margin: 15px 0 0 0;
    background-color: #dddddd;
    padding: 10px 0;
    border-radius: 15px;
    width: 100%;
}
.content-choose i{
    color: white;
}
.btn-revisor-accepted, .btn-revisor-reject{
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.btn-revisor-accepted{
    background-color: #066e29;
}
.btn-revisor-accepted:hover{
    background-color: #066e29;
    transform: scale(1.1);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.5);
}
.btn-revisor-reject{
    background-color: #c20d1c;
}
.btn-revisor-reject:hover{
    background-color: #c20d1c;
    transform: scale(1.1);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 768px){  
    .swiperContent{
        padding: 0;
        border-top-right-radius: 15px;
    }
    .swiperThumbs{
        margin-bottom: 10px;
    }
    .card-container-show{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
    }
    .pro-des-show{
        height: 200px;
    }
    .pro-name-show{
        font-size: 28px;
    }
}
/* End dettaglio ---------------------------------------------------------------------------------------------------------- */

/* Start gestione alert success/danger ------------------------------------------------------------------------------------ */
.modal-content{
    border: 0;
}
.modal-header{
    justify-content: center;
    position: relative;
}
.modal-header-success{
    background-color: #47c9a2;
}
.modal-header-danger{
    background-color: #f36d6d;
}
.content-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e2feee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    animation: animateAlert .6s linear alternate-reverse infinite;
    transition: 0.6s ease;
}
@keyframes animateAlert {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.09);
    }
}

.content-icon i{
    font-size: 20px;
}
.btn-close-alert{
    position: absolute;
    top: 18px;
    right: 18px;
}
.btn-close-alert:focus{
    box-shadow: none;
}

.modal-title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    text-align: center;
}
.modal-title-success{
    color: #066e29;
}
.modal-title-danger{
    color: #c20d1c;
}

.modal-message{
    margin: 0.5rem 0 0 0;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

/* End gestione alert success/danger -------------------------------------------------------------------------------------- */

/* Start FOOTER ----------------------------------------------------------------------------------------------------------- */
.logo-footer {
    height: 40px;
    width:150px;
}

.linkedin-custom{
    color: #00afb9;
}

.a-footer{
    font-size: 20px;
    color: #000000;
}

.a-footer:hover{
    border-bottom:1px solid #00afb9;
}

.separate{
    border: 1px solid rgba(0, 176, 185, 0.5);
    width: 100%;
    box-shadow: 1px 1px 1px rgb(171, 171, 171);
}

.bg-footer{
    background-color: rgb(233, 233, 233);
}
/* End FOOTER ------------------------------------------------------------------------------------------------------------- */
